<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/main.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <header>
      <div class= "row container">
        <div class="col-sm-4">
          <img class="img-responsive" src="/images/logo.png">
        </div>
      </div>
      <h1 class="hidden">Хлеб&Co<h1>
      <nav></nav>
    </header>
    <section class="main-content">
      <h2></h2>
      <p>

      </p>
    </section>
    <footer>
      <hr>
      <p class="copyright hidden-xs">
        &copy; 2016 Хлеб & Co by <a href="http://codepunks.ru/">CodePunks</a>
      </p>
    </footer>
  </body>
</html>
