---
---

@import "bootstrap"
// header styling
header
  padding: 50px


// footer styling
footer
  position: fixed
  height: 50px
  left: 0px
  bottom: 0
  width: 100%

hr
  margin: 0 50px

.copyright
  color: rgba(156,153,153, 0.9)
  font-size: 12px
  margin-top: 17px
  margin-left: 55px
  a
    color: rgba(156,153,153, 0.9)
    &:hover
      text-decoration: underline

// svg styling
.logo
  height:auto
  width: 100%
  max-width: 300px
  margin-top: -22px

.logo-and
  fill: #ec1f27
